$small-breakpoint: 290px;

.users {
}

.user-info-box {
  width: 100%;
  margin: 5px;
}
.user-card {
  display: flex;
  border: 1px solid $border-color;
  margin-bottom: 20px;
  padding: 10px;
  @media (max-width: $small-breakpoint) {
    display: block;
  }
  a {
    text-decoration: none;
    color: $dark-green;
  }
  a:hover {
    font-weight: bold;
  }
}

.user-card-text {
  display: block;
  @media (max-width: 420px) {
    word-break: break-all;
  }
}

.user-buttons {
  display: flex;
  justify-content: space-between;
}

.user-image {
  height: 128px;
  width: 128px;
  border-radius: 50%;
}